# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# Database
*.db

# Node
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/